.Rproj.user
.Rhistory
.RData
.Ruserdata
numbers.csv
numbers.rda
numbers_labels.csv
num_labels.rda
gnumbers.rda
gnumbers.csv
HW_Digit_Class.pdf
Feature_Extraction.pdf
Simple_Image_Processing_and_Clustering.htm
EMIS-7332-Project4-DDessommes-Report.docx
iVAT_d_sample_500.png
ASWs
WSS
HC_Dendros
ROutputs
