.Rproj.user
.Rhistory
.RData
.Ruserdata
numbers.csv
numbers.rda
numbers_labels.csv
num_labels.rda
gnumbers.rda
gnumbers.csv
HW_Digit_Class.pdf
Feature_Extraction.pdf
Simple_Image_Processing_and_Clustering.htm
EMIS-7332-Project4-DDessommes-Report.docx
ASW_10-30_1-500.png
WSS_10-30_1-ALL.png
WSS_10-40_2-5000.png
WSS_10-50_5-5000.png
iVAT_d_sample_500.png
